@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0 ,0 ,0;
    --background-start-rgb: 235,240,248;
    --background-end-rgb: 235,240,248;
    /*
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 235,240,248;
    --background-end-rgb: 253,254,254;
    */
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slick-prev:before, .slick-next:before {
  color: black !important; /* Cambia el color de las flechas a negro */
}

.rotate-on-hover {
  transition: transform 0.5s; /* Transición suave */
  transform-style: preserve-3d; /* Asegura que se preserve el estilo 3D */
}

.rotate-on-hover:hover {
  transform: rotateY(180deg); /* Giro de 180 grados en el eje Y */
}

